<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header <%= course.className %> planner_item assignment <% if (planner_item.done) { %>done<% } %>">
        <div class="modal-title">
          <small class="course_code">
            <%= course.course_code %>
          </small>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="<%= markCompleteId %>" <% if (planner_item.done) { %>checked<% } %>>
            <label class="form-check-label assignment name h5" for="<%= markCompleteId %>">
              <%= assignment.name %>
            </label>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <strong class="p-1">Due</strong>
          <% const due_at = new Date(assignment.due_at); %>
          <span class="p-1">
            <%= due_at.toLocaleDateString('en-us', {month: 'short',day: 'numeric'}) %>
            <% if (false === (due_at.getHours() === 23 && due_at.getMinutes() === 59)) { %>
            at <%= due_at.toLocaleTimeString('en-us',{hour: 'numeric',minute: '2-digit'}) %>
            <% } %>
          </span>
          <% if (assignment.points_possible) { %>
          <strong class="ms-auto p-1">Points</strong>
          <span class="p-1">
            <% if (assignment.submission?.entered_grade) { %>
            <%= assignment.submission.entered_grade %> /
            <% } %>
            <%= assignment.points_possible %>
            <% if (assignment.submission?.workflow_state) { %>
            (<%= assignment.submission.workflow_state %>)
            <% }%>
          </span>
          <% } %>
        </div>
        <% if (assignment.description) { %>
        <hr />
        <%- assignment.description %>
        <% } %>
      </div>
      <div class="modal-footer">
        <a target="_top" href="<%= consumer_instance_url %>/courses/<%= course.id %>/assignments/<%= assignment.id %>" type="button" class="btn btn-brand-primary">
          Details
        </a>
      </div>
    </div>
  </div>
</div>