<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header <%= course_class %> class_meeting">
        <div class="modal-title">
          <h5><%= event.title %></h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <%= event.start?.toLocaleDateString('en-us', {
            day: 'numeric',
            weekday: 'long',
            month: 'long'
          }) %><br />
          <%= event.start?.toLocaleTimeString('en-us', {
            hour: 'numeric',
            minute: 'numeric'
          }) %>&nbsp;&ndash;&nbsp;<%= event.end?.toLocaleTimeString(
            'en-us',
            { hour: 'numeric', minute: 'numeric' }
          ) %>
        </p>
        <p><%= location %></p>
      </div>
    </div>
  </div>
</div>