<div
  class="item p-1 m-1 rounded <%= course.className %> <% if (item.done) { %>done<% } %>"
>
  <a
    target="_top"
    href="<%= consumer_instance_url %><%= item.html_url %>"
    class="d-flex"
  >
    <img
      class="<%= item.plannable_type %> icon me-2"
      src="/assets/<%= item.plannable_type %>.svg"
    />
    <span class="<%= item.plannable_type %> name"
      ><%= item.plannable.title %></span
    >
  </a>
</div>
