<%
  function newGUID(purpose) { 
    return `${purpose.match(/^[a-z_]/i ? '' : '_')}${purpose}-${crypto.randomUUID()}`; 
  }
%>
<div id="calendar-selector" class="card">
  <div class="card-body">
    <h5 class="card-title">Calendars</h5>
    <ul class="card-text">
      <% for (const course of courses) { %>
      <li>
        <div class="<%= course.context_code %>">
          <% guid = newGUID(`${course.id}`)%>
          <div class="d-flex justify-content-between">
            <div class="form-check">
              <input
                class="form-check-input"
                id="<%= guid %>"
                type="checkbox"
                checked
              />
              <label class="form-check-label" for="<%= guid %>">
                <%= course.name %>
              </label>
            </div>
            <% guid = newGUID(`toggle-${course.id}`); %>
            <a data-bs-toggle="collapse" href="#<%= guid %>">
              <i class="bi bi-dash-square collapse-toggle"></i>
              <i class="bi bi-plus-square expand-toggle"></i>
            </a>
          </div>
          <ul class="collapse show" id="<%= guid %>">
            <% for (const section of course.sections) { %>
            <li>
              <div
                class="<%= section.context_code %> <%= section.color_block %>"
              >
                <% guid = newGUID(`${course.id}-${section.id}}`); %>
                <div class="d-flex justify-content-between">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      id="<%= guid %>"
                      type="checkbox"
                      checked
                    />
                    <label class="form-check-label" for="<%= guid %>">
                      <%= section.name %>
                    </label>
                  </div>
                  <% guid = newGUID(`toggle-${course.id}-${section.id}`); %>
                  <a
                    data-bs-toggle="collapse"
                    href="#<%= guid %>"
                    class="collapsed"
                  >
                    <i class="bi bi-dash-square collapse-toggle"></i>
                    <i class="bi bi-plus-square expand-toggle"></i>
                  </a>
                </div>
                <ul class="collapse" id="<%= guid %>">
                  <li>
                    <div class="Assignment PlannerEvent">
                      <% guid =
                      newGUID(`${course.id}-${section.id}-assignments`); %>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          id="<%= guid %>"
                          type="checkbox"
                          checked
                        />
                        <label class="form-check-label" for="<%= guid %>"
                          >Assignments & planner items</label
                        >
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="ClassMeeting CalendarEvent">
                      <% guid = newGUID(`${course.id}-${section.id}-events`) %>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          id="<%= guid %>"
                          type="checkbox"
                          checked
                        />
                        <label class="form-check-label" for="<%= guid %>"
                          >Class meetings & events</label
                        >
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </li>
      <% } %>
      <li>
        <div class="Assignment PlannerEvent">
          <% guid = newGUID('all-assignments') %>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="<%= guid %>"
              checked
            />
            <label class="form-check-label" for="<%= guid %>"
              >Assignments & planner items</label
            >
          </div>
        </div>
      </li>
      <li>
        <div class="ClassMeeting">
          <% guid = newGUID('all-class-meetings') %>
          <div class="form-check">
            <input
              class="form-check-input"
              id="<%= guid %>"
              type="checkbox"
              checked
            />
            <label class="form-check-label" for="<%= guid %>"
              >Class meetings</label
            >
          </div>
        </div>
      </li>
      <li>
        <div class="CalendarEvent">
          <% guid = newGUID('all-events'); %>
          <div class="form-check">
            <input
              class="form-check-input"
              id="<%= guid %>"
              type="checkbox"
              checked
            />
            <label class="form-check-label" for="<%= guid %>">Events</label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
