<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <form class="modal-content" action="<%= consumer_instance_url %>/courses/<%= course.id %>/assignments/new"
      target="_top" method="get">
      <div class="modal-header <%= course.className %> class_meeting">
        <div class="modal-title">
          <h5>
            <%= event.title %>
          </h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <%= event.start?.toLocaleDateString('en-us', { day: 'numeric' , weekday: 'long' , month: 'long' }) %><br />
          <%= event.start?.toLocaleTimeString('en-us', { hour: 'numeric' , minute: 'numeric' }) %>&nbsp;&ndash;&nbsp;<%= event.end?.toLocaleTimeString( 'en-us' , { hour: 'numeric' , minute: 'numeric' } ) %>
        </p>
        <p>
          <%= location %>
        </p>
        <hr />
        <h5>New Assignment</h5>
        <div class="container">
          <div class="mb-3">
            <label for="title-control" class="form-label">Title</label>
            <input type="text" name="name" id="title-control" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="group" class="form-label">Group</label>
            <select name="assignment_group_id" id="group" class="form-select">
              <% for (const group of assignment_groups) { %>
                <option value="<%= group.id %>">
                  <%= group.name %>
                </option>
              <% } %>
            </select>
          </div>
          <div class="mb-3">
            <label for="sync-control" class="form-check-label">
              Sync to Blackbaud
              <input type="checkbox" name="post_to_sis" id="sync-control" class="form-check-input" />
            </label>
          </div>
          <div class="mb-3">
            <label for="publish-control" class="form-check-label">
              Publish
              <input type="checkbox" name="published" id="publish-control" class="form-check-input" />
            </label>
          </div>
          <div class="mb-3">
            <label class="form-label">Due</label>
            <div class="container">
              <div>
                <input type="radio" id="due_at-start" name="due_at" value="<%= event.start.toISOString() %>"
                  class="form-check-input" checked />
                  <label for="due_at-start" class="form-check-label">
                    <%= event.start.toLocaleTimeString('en-us',{hour: 'numeric' , minute:'2-digit'}) %> (beginning of class)
                  </label>
              </div>
              <div>
                <input type="radio" id="due_at-end" name="due_at" value="<%= event.end.toISOString() %>"
                  class="form-check-input" />
                <label for="due_at-end" class="form-check-label">
                  <%= event.end.toLocaleTimeString('en-us',{hour: 'numeric' , minute:'2-digit'}) %> (end of class)
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex">
          <button type="submit" id="options-btn" class="btn btn-brand-secondary me-3">More Options</button>
          <button type="submit" id="save-btn" class="btn btn-brand-primary">Save as Ungraded</button>
        </div>
      </div>
    </form>
  </div>
</div>