<form
  methd="get"
  action="<%= consumer_instance_url %>/courses/<%= course.id %>/assignments/new"
  target="_top"
  class="container"
>
  <h5>New Assignment</h5>
  <div class="mb-3">
    <label for="name" class="form-label">Title</label>
    <input id="name" name="assignment[name]" type="text" required class="form-control" />
  </div>
  <div class="mb-3">
    <label for="assignment_group" class="form-label">Group</label>
    <select id="assignment_group" name="assignment[assignment_group_id]" class="form-select">
      <% for (const group of assignment_groups) { %>
        <option value="<%= group.id %>">
          <%= group.name %>
        </option>  
      <% } %>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Due</label>
    <div class="container">
      <div class="mb-2">
        <input id="due_at-start" name="assignment[due_at]" value="<%= event.start.toISOString() %>" type="radio" class="form-check-control" checked />
        <label for="due_at-start" class="form-check-label"><%= event.start.toLocaleTimeString('en-us',{hour: 'numeric', minute: '2-digit'}) %> (start of class)</label>
      </div>
      <div class="mb-2">
        <input id="due_at-end" name="assignment[due_at]" value="<%= event.end.toISOString() %>" type="radio" class="form-check-control" />
        <label for="due_at-end" class="form-check-label"><%= event.end.toLocaleTimeString('en-us', {hour: 'numeric', minute: '2-digit'}) %> (end of class)</label>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <input id="published" name="assignment[published]" value="true" type="checkbox" class="form-check-control" />
    <label for="published" class="form-check-label">Publish</label>
  </div>
  <div class="mb-3">
    <input id="sync_to_sis" name="assignment[sync_to_sis]" value="true" type="checkbox" class="form-check-control" />
    <label for="sync_to_sis" class="form-check-label">Sync to Blackbaud</label>
  </div>
  <div class="d-flex justify-content-end gap-2">
    <button type="submit" class="btn btn-brand-secondary">More Options</button>
    <button type="submit" class="btn btn-brand-primary" id="save">Save as Ungraded</button>
  </div>
</form>
